div.contenedor-requisitos{
    border-radius: 10px;
    position: absolute;
    margin-left: 175px;
    margin-top: 60px;
    height:400px;
    width: 800px;
    background-color: rgb(217, 218, 219);
}

div.contenedor-requisitos:hover{
    background-color: rgb(216, 220, 226);
}

div.registro{
    background-color:rgb(121, 121, 121);
    color: black;
    margin-left: 20px;
    width: 400px;
}

div.contenedor-tabla{
    border-radius: 10px;
    position: absolute;
    margin-left: 976px;
    margin-top: 60px;
    height:400px;
    width: 800px;
    background-color: rgb(217, 218, 219);
    border-style: initial;
    
}
div.contenedor-tabla:hover{
    background-color: rgb(216, 220, 226);
}

div#tabla1{
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;
    width: 700px;
    height:300px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1pt;
    overflow-y: hidden;
    overflow-x: scroll;
    
    
}

div#tabla2{
    position: absolute;
    margin-left: 160px;
    width: 500px;
    height:280px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1pt;
    
    
}
table{
    width: 700px; 
    background-color:white;
    border: 1px solid #000;
            
}

th {
    text-align: center;
    padding: 2px;
    background-color: #2f3030;
    color: white;
    font-size: 7pt;
    border: 0.1px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
td {
    text-align: left;
    padding: 2px;
    color: rgb(0, 0, 0);
    font-size: 6pt;
    border: 0.1px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
}

div.contenedor-resumen{
    border-radius: 10px;
    position: absolute;
    margin-left: 175px;
    margin-top: 461px;
    height:400px;
    width: 800px;
    background-color:rgb(217, 218, 219);
}
div.contenedor-resumen:hover{
    background-color: rgb(216, 220, 226);
}

div.contenedor-grafico{
    border-radius: 10px;
    position: absolute;
    margin-left: 976px;
    margin-top: 461px;
    height:400px;
    width: 800px;
    background-color:rgb(217, 218, 219);
}
div.contenedor-grafico:hover{
    background-color: rgb(216, 220, 226);
}

p.text-ing1{
    color: rgb(51, 44, 114);
    font-weight:bold ;
    margin-left: 45%;
	line-height: 50px;
}
p.text-ing2{
    color: rgb(51, 44, 114);
    font-weight:bold ;
    margin-left: 35%;
	line-height: 50px;
}
p.text-ing3{
    color: rgb(51, 44, 114);
    font-weight:bold ;
    margin-left: 26%;
	line-height: 50px;
}
p.text-ing4{
    color: rgb(51, 44, 114);
    font-weight:bold ;
    margin-left: 26%;
	line-height: 50px;
}




p.seccion-text{
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
    color: rgb(51, 44, 114);
    text-align: justify;
}

input#Generar{
    float: right;
    margin-top: -21px;
    height: 22px;
    margin-right: -15px;
    
}

p.a {
    border-radius: 5px;
    max-width: 220px;
    text-decoration: none;
    display: block;
    background: #2f3030;
    line-height: 2.5;
    padding: 0 1em;
    color: rgb(67, 137, 167);
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    }
div#contenido-ingreso1{
    position: absolute;
    background-color:  rgb(222, 226, 226);
    margin-left: 22px;
    width: auto;
    height: 80px;
    margin-top: 160px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(26, 24, 24);
    display: none;
}
div#menu1{
    
    background-color: rgb(121, 121, 121);
    margin-left: 22px;
    margin-right: 30px;
    margin-top: 10px;
    height: 40px;
}

div#menu1:hover div#contenido-ingreso1 {
    display: block;
}

div.periodo{
    margin-top: -16px;
    margin-left: 610px;
    background-color: rgb(39, 47, 59);
    max-width: 85px;
    border-radius: 5px;
}

div.modificar{
    margin-top: -20px;
    margin-left: 610px;
    background-color: rgb(39, 47, 59);
    max-width: 70px;
    border-radius: 5px;
}


input.modificartext{
    color:rgb(205, 206, 219); 
    margin-left: inherit;
    margin-top: -25px;
    width: auto;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(39, 47, 59);
}

input.modificartext1{
    color:rgb(205, 206, 219); 
    width: 78px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(39, 47, 59);
}


#logomodificar1{
    margin-top: -20px;
    float: right ;
    margin-right: 15px;
    border-radius: 5px;
}

input.origen1{
    margin-top: -35px;
    height: 20px;
    margin-left: 300px;
    margin-right: 30px;
    width: 300px;
}

div.fecha{
    margin-top: -33px;
    margin-left: 300px
}
p.fecha{
    float: right;
    margin-top: 2px;
    color: black;
    font-size: 12px;
    margin-right: 170px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}
select.fecha{
    color: black;
    font-size: 12px;
    text-align: center;
    height: 17px;
}

div.origen{
    color: black;
    margin-top: -27px;
    height: 15px;
    margin-left: 450px;
    margin-right: 30px;
    width: 150px;
    background-color: white;
}


div.origen1{
    color: black;
    margin-top: -28px;
    height: 17px;
    margin-left: 300px;
    margin-right: 30px;
    width: 300px;
    background-color: white;
}

p.periodo{
    margin-left: 60px;
}
p.origen1{
    max-width: 300px;
    color: black;
    font-size: 12px;
    text-align: center;
}


div#contenido-ingreso2{
    position: absolute;
    background-color:  rgb(222, 226, 226);
    margin-left: 22px;
    width: 250px;
    height: 80px;
    margin-top: 116px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(26, 24, 24);
    display: none;
}

div#menu2{
    background-color: rgb(121, 121, 121);
    margin-left: 22px;
    margin-right: 30px;
    height: 40px;
    border-top: 2px solid  rgb(194, 185, 185);
}

div#menu2:hover div#contenido-ingreso2 {
    display: block;
}

div#contenido-ingreso3{
    position: absolute;
    background-color:  rgb(222, 226, 226);
    margin-left: 22px;
    width: 400px;
    height: 80px; 
    margin-top: 72px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(26, 24, 24);
    display: none;
}

p#mes{
    margin-top: -50px;
}

div#menu3{
    background-color: rgb(121, 121, 121);
    margin-left: 22px;
    margin-right: 30px;
    height: 40px;
    border-top: 2px solid  rgb(194, 185, 185);
}

div#menu3:hover div#contenido-ingreso3 {
    display: block;
}

div#contenido-ingreso4{
    position: absolute;
    background-color: rgb(222, 226, 226);
    margin-left: 20px;
    width: auto;
    max-width: 700px;
    height: 80px;
    margin-top: 20px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(26, 24, 24);
    display: none;
}

div#menu4{
    background-color: rgb(121, 121, 121);
    margin-left: 22px;
    margin-right: 30px;
    height: 40px;
    border-top: 2px solid  rgb(194, 185, 185);
}

div#menu4:hover div#contenido-ingreso4 {
    display: block;
}

div#ninguno{
    background-image: url(/static/image/x.PNG);
    background-color: darkblue;
    float: left;

}
div#visto{
    background-image: url(/static/image/visto.PNG);
 
}
    
.progress {
    height: 1.5em;
    width: 100%;
    background-color: #c9c9c9;
    position: relative;
  }
  .progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    top: 5px;
    left: 0;
    right: 0;
  }
  .progress .value {
    background-color: #7cc4ff;
    display: inline-block;
    height: 100%;
  }

  div.message{
    position: absolute;
    background-color: rgb(143, 18, 18);
    width: auto;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
	
}

div.text-titulo{
	float: left;;
}

h3.text-titulo{
	position: absolute;
	margin-top: 10px;
	margin-left: 40%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #bcbcbc;
	
}
 
input#consultar{
    margin-left: 20px;
    position: absolute;
    margin-top: 15 px;
    float: left;
}

p#Consultar_text{
    position: absolute;
    margin-left: 28%;
    margin-top: 15%
}

p#Consultar_text1{
    position: absolute;
    margin-left: 32%;
    margin-top: 15%
}

div.cargando_barra{
    background-color: rgb(57, 60, 63);
    margin-left: 28%;
    max-width: 260px;
    height: 22px;
    border-radius: 5px;
}

div.cargando{
    
    border-radius: 5px;
    background-color: rgb(76, 113, 161);
    margin-left: 5%;
    margin-top: 50%;
    max-width: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 100;
}

@keyframes example {
    0%  { left:0px; }
    100%  { left:130px; }
  }

table thead tr {
    display: block;
      
}

table tbody {
    display: block;
    height: 250px;
    overflow-y: scroll;
}
th {
    text-align: center;
}
td {
    text-align: center;
    white-space: pre;
}
table tbody tr {
    overflow-x: scroll; 
}